version: "3.1"

services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./sqlfiles:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

  api:
    image: python-api
    build:
      context: ./api
      dockerfile: Dockerfile
    volumes:
      - ./api/main.py:/server/main.py
    restart: always
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db
    depends_on:
      - db
    command: uvicorn main:app --proxy-headers --host 0.0.0.0 --port 8000
