---
- name: Déploiement Zero touch
  hosts: registry_hosts
  become: true
  vars:
    project_dir: "/home/ubuntu/app"
    public_ip: "{{ ansible_host }}"

    # Variables injectées par le pipeline GitHub
    registry_user: "{{ github_actor }}"
    registry_token: "{{ github_token }}"

  tasks:
    # 1. Installation Docker
    - name: Installation des paquets
      apt:
        update_cache: yes
        name:
          - docker.io
          - docker-compose-v2
          - apache2-utils
          - python3-passlib
        state: present

    - name: Connexion au registre GitHub (GHCR)
      community.docker.docker_login:
        registry_url: ghcr.io
        username: "{{ registry_user }}"
        password: "{{ registry_token }}"

    - name: Ajout user au groupe docker
      user:
        name: ubuntu
        groups: docker
        append: yes

    # 2. Dossiers
    - name: Création des dossiers
      file:
        path: "{{ item }}"
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: "0755"
      loop:
        - "{{ project_dir }}"
        - "{{ project_dir }}/auth"
        - "{{ project_dir }}/data"
        - "{{ project_dir }}/sqlfiles"

    - name: Copie du script d'initialisation SQL
      copy:
        src: sqlfiles/
        dest: "{{ project_dir }}/sqlfiles/"
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    # 3. Auth (Mot de passe)
    - name: Génération mot de passe (admin/admin123)
      htpasswd:
        path: "{{ project_dir }}/auth/registry.password"
        name: admin
        password: admin123
        owner: ubuntu
        group: ubuntu
        mode: 0640
        crypt_scheme: bcrypt

    # 4. Docker Compose (Templated)
    - name: Copie du docker-compose.yml
      template:
        src: docker-compose.yml
        dest: "{{ project_dir }}/docker-compose.yml"
        owner: ubuntu
        group: ubuntu
        mode: "0644"

    - name: Stop stack
      command: docker compose stop
      args:
        chdir: "{{ project_dir }}"

    # 5. Start
    - name: Démarrage de la stack
      command: docker compose up --force-recreate -d
      args:
        chdir: "{{ project_dir }}"
